services:

  no-talk:
    build: 
      context: .
      dockerfile: Dockerfile
      target: dev
    image: no-talk-image
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=1000