@import "tailwindcss";

:root {
    --primary-color: #417B5A;
}

.main-content {
    @apply h-auto w-dvw;
}

.btn-icon {
    @apply m-1 p-1 rounded-lg hover:bg-gray-300 cursor-pointer;
}

.btn-default {
    @apply text-white font-semibold p-2 rounded-lg hover:opacity-80 cursor-pointer;
    background-color: var(--primary-color);
}

