@import "tailwindcss";


/* ============== HEADER AJUSTIMENTS ============== */
@keyframes littleAnimation {
    from {
        top: -200px
    } 
    to {
        top: 0px
    }
}

.header-active {
    @apply h-[80] bg-white flex items-center justify-between px-10;
}
.header-scroll {
    @apply h-[80] bg-white fixed flex w-dvw items-center justify-between px-10;
    animation: littleAnimation 1s ease forwards;
}

.btn-icon {
    @apply m-1 p-1 rounded-lg hover:bg-gray-200 cursor-pointer;
}

.menu-opened {
    @apply fixed top-20 left-0 w-dvh h-dvh bg-white p-10;
}

