@import "tailwindcss";

:root {
  --main: #daa520;
  --back: #ffffff;
}

.btn {
  background-color: var(--main);
  color: var(--back);
  padding: 10px;
  border-radius: 10px;
  padding: 10px 20px;
}
.btn:hover, .btn:focus, .btn:active {
  outline: 2px solid var(--back);
  box-shadow: 0px 0px 0px 4px #daa520;
  cursor: pointer;
}

