@reference "tailwindcss";

.footer {
    @apply flex flex-wrap justify-between gap-1;
    @apply relative left-0 bottom-0 h-auto w-dvw px-10 py-10;
    @apply bg-gray-200; 
    @apply max-md:justify-center; 
}
