@reference "tailwindcss";

/* ============== HEADER AJUSTIMENTS ============== */
@keyframes headerAnimation {
    from {
        top: -200px
    } 
    to {
        top: 0px
    }
}

.headerActive {
    @apply flex items-center justify-between;
    @apply h-[80] w-dvw px-10;
    @apply bg-white;
}

.headerScroll {
    @apply flex items-center justify-between;
    @apply fixed h-[80] w-dvw px-10;
    @apply bg-white;
    animation: headerAnimation 1s ease forwards;
}

.menuClosed {
    @apply fixed top-20 left-500 w-dvh h-dvh p-10 z-10;
    @apply bg-white;
    @apply transition-all duration-500;
}

.menuOpened {
    @apply left-0;
}