@reference "tailwindcss";

/* ============== HEADER AJUSTIMENTS ============== */

.headerActive {
    @apply flex top-0 left-0 items-center justify-between z-10;
    @apply fixed h-[80px] w-full px-10;
    @apply bg-white border-b border-red-300;
    @apply transition-transform duration-300;
}

.menuClosed {
    @apply fixed top-20 left-500 w-dvh h-dvh p-10 z-10;
    @apply bg-white;
    @apply transition-all duration-500;
}

.menuOpened {
    @apply left-0;
}