@reference "tailwindcss";

@theme {
  --breakpoint-3xl: 107rem;
  --breakpoint-4xl: 120rem;
}

.newsletter {
  @apply flex flex-row flex-wrap justify-between items-center gap-20;
  @apply bg-gray-300 p-10 absolute top-[-19%] left-[50%] -translate-x-1/2 rounded-3xl ;
  @apply max-3xl:justify-center max-3xl:gap-4;
}

.ctaNewsletter {
  @apply text-5xl max-md:text-3xl font-bold uppercase leading-[0.9] max-md:text-center;
}

.formEmail {
  @apply flex flex-col max-md:flex-col justify-center;

  .subtitle {
    @apply font-bold text-lg text-center text-gray-500 py-3 shrink;
    @apply xl:text-left;

  }

  .groupInput {

    @apply flex flex-row flex-nowrap;

    .inputEmail {
      @apply flex rounded-bl-xl h-11 rounded-tl-xl p-1 px-3 focus:outline-0 bg-white;
    }

    .btnSend {
      @apply rounded-br-xl h-11 rounded-tr-xl font-bold p-2 px-4 hover:bg-gray-300 cursor-pointer bg-black text-white;
    }

  }

}