@reference "tailwindcss";

.sectionCta {
    @apply flex justify-center gap-10 flex-wrap;
    @apply w-screen p-10 mt-30 text-black bg-white;

    .textCta {
        @apply flex flex-col justify-center;
        @apply w-[500px] h-[500px];
        @apply max-md:items-center;

        h2 {
            @apply text-7xl font-bold;
            @apply max-md:text-center max-md:text-6xl;
        }
        p {
            @apply italic text-xl;
        }
        button {
            @apply mt-5 w-30;
        }
    }

    .imageCta {
        @apply relative h-[500px] w-[500px];
        @apply overflow-hidden rounded-4xl aspect-square;
    }
}
